# Streamlit secrets (CRITICAL: Do not delete this line)
.streamlit/secrets.toml

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
env/
venv/
ENV/

# OS specific files
.DS_Store
Thumbs.db
